#root {
  text-align: center;
  height: 100vh;
  overflow: scroll;
}

.background {
  height: 100%;
  width: 100%;
  background-image: url(../image/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

.background-massage {
  margin: 0 auto;
  display: inline-block;
  line-height: 1;
  padding-top: 20vh;
  position: relative;
}

.background-massage p {
  font-size: 4vh;
  font-weight: 700;
  margin: 0;
}

.background-massage p:nth-child(2) {
  position: relative;
  display: inline-block;
  background-color: gold;
  color: rgb(52, 52, 53);
  margin: 3vh auto 0;
  padding: 1vh 8vh;
  font-size: 3vh;
  border-top: 3px dotted blue;
  border-bottom: 3px dotted blue;
}


.background-massage p:nth-child(3) {
  position: absolute;
    left: -20vh;
    right: 0;
    bottom: -20vh;
  font-family: 'Titan One', cursive;
  color: rgba(6, 158, 74, 0.89);
  font-size: 20vh;
  text-shadow: 1vh 1vh rgba(240, 139, 206, 0.856);
}

.background-massage p:nth-child(3):first-letter{
  font-size: 25vh;
}


.background img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 95%;
  z-index: -1;
}

.top-sp {
  height: 80%;
  width: 100%;
}

.main {
  padding: 0 3vw;
}
