.data-item {
  margin-top: 5%;
  border-radius: 10px 10px 0 0;
}

h1 {
  font-size: 3.5vw;
}
h2 {
  font-size: 2vw;
  margin: 0;
}

.data-item__massage {
  overflow: hidden;
}

.data-item--title {
  padding: 2.5vw 0;
  font-size: 3vw;
  font-weight: 800;
  background: rgb(133, 133, 241);
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 3px 3px gray;
  color: white;
  position: relative;
}

.data-item--title::after {
  content: "";
  position: absolute;
   top: 10%;
   left: 0;
   right: 0;
   bottom: 10%;
  border-top: dotted 0.5vw pink;
  border-bottom: dotted 0.5vw pink;
}

.data-item--title > p {
  margin: 0;
}

.data-item--title p:nth-child(2) > span {
  color: yellow;
  font-size: 4vw;
}

.data-item--item {
  background: rgb(255, 255, 255);
  box-shadow: 0px 5px 5px gray;
  margin: 0 1%;
}

.data-item__massage {
  padding-top: 2vw;
}

.data-item__massage--main {
  display: flex;
  justify-content: center;
  height: 30vw;
  padding: 2vw 3vw;
}

.data-item__massage--coments {
  width: 60%;
  position: relative;
}

.data-item__massage--coments p {
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5vw;
}

.data-item__massage--coments > img {
  position: absolute;
    bottom: 0;
    left: 0;
  width: 70%;
}

.data-item__massage--imgbox {
  width: 30%;
  height: 100%;
  position: relative;
}

.back-graph {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  margin: auto;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: #1abc9c; 
}

.pie{
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  margin: auto;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-image: linear-gradient(to right, transparent 50%, #fe8a01 0); 
}

.pie.active::before{ 
  content: '';
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  background: #1abc9c; 
  -webkit-animation: rotate1 1s linear;
  animation: rotate1 1s linear;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.pie.active::after{ 
  content: ''; 
  position: absolute;
    top: 0;
  display: block;
  margin-left: 50%;
  height: 100%;
  width: 50%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  -webkit-animation: rotate2 .3s linear;
  animation: rotate2 .3s linear;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-iteration-count:1;
  animation-iteration-count:1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.pie-percent {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  margin: auto;
  border-radius: 50%;
  width: calc(25vw / 2);
  height: calc(25vw / 2);
  line-height: calc(25vw / 2);
  font-weight: 800;
  text-shadow: 0px 0px 5px 5px #1abc9c;
  z-index: 5;
  background: white;
}

.pie-percent > span {
  font-size: 4vw;
  color: #fe8a01;
  text-shadow: 1px 1px rgb(252, 182, 118);
}

@keyframes rotate1 {
  50% {
    transform: rotate(.25turn);
  }
  100% {
    transform: rotate(.5turn);
  }
}

@keyframes rotate2 {
  0% {
  }
  50% {
    background: #fe8a01; 
  }
  100% {
    background: #fe8a01; 
    transform: rotate(.1turn);
  }
}

/* 二頭に一頭が一年以内に保険金請求 */

.data-item--rank > h2 {
  color: rgb(252, 81, 81);
  font-size: 2.5vw;
  font-weight: 900;
}

.rank-items {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.rank-item {
  width: 30%;
  margin: 0 1vw;
  border: solid 2px gray;
}

.rank-item > h2 {
  padding: 1vw 0;
  color: white;
}

#rank1 > h2 {
  background: rgb(76, 151, 248);
}

#rank2 > h2 {
  background: rgb(250, 152, 5);
}

.rank-item li {
  text-align: left;
  list-style: none;
  padding: 3% 0;
  font-size: 2vw;
}

.rank-item li > div {
  display: flex;
  font-size: 2vw;
}

.rank-item li > div > div {
  margin: 0 10% 0 10%;
  position: relative;
}

.rank-item li div svg {
  font-size: 3.2vw;
  color: rgba(253, 211, 159, 0.733);
}

.rank-item li div span {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  font-weight: 900;
  text-shadow: 1px 1px rgb(3, 106, 117);
}

.rank-item li:nth-child(2) {
  border-top: dashed 2px gray;
  border-bottom: dashed 2px gray;
}

.rank-item--list {
  padding: 3vw 0;
}

.rank-item--list > table {
  margin: 0 auto;
  font-size: 1.5vw;
  width: 50%;
  border-collapse: collapse;
}

.rank-item--list > table tbody tr:nth-child(1),
.rank-item--list > table tbody tr:nth-child(3) {
  background: lightgray;
}

.rank-item--list > table th,
.rank-item--list > table td {
  padding: 1vw;
}


.rank-item--list > table th {
   background: gray;
   color: white;
}
.rank-item--list > table th:nth-child(1) {
  width: 40%;
}


