.like--title {
  padding: 1.5vw 0;
  font-size: 3vw;
  font-weight: 800;
  margin-top: 8vw;
  background: #2176d6;
  color: white;
  position: relative;
  border: 2px solid #1a59a1;
}

.like--title p:nth-child(1) {
  font-size: 1.8vw;
}

.like--title p:nth-child(2) {
  color: yellow;
}

.like__message {
  background: #9fd5f8;
  padding: 2vw 3vw;
  margin-bottom: 1vw;
}

.like__message--item {
  margin-bottom: 0.5vw;
}

.like__message--title {
  display: flex;
  justify-content: flex-end;
  padding: 1vw;
  background: #2176d6;
  color: white;
  font-weight: 700;
  position: relative;
  font-size: 2vw;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #1a59a1;
}

.like__message--title img {
  position: absolute;
    bottom: -100%;
    left: 0;
  height: 20vw;
  width: 20vw;
  border-radius: 0 100% 50% 0;
  box-shadow: 0 0 0 10px #3268a5;
}

.like-item--message {
  padding-right: 20px;
  border-right: 2px solid gray;
}

.like-item--message p:nth-child(2) {
  font-size: 1.5vw;
}

.like-item--btn {
  width: 10%;
  padding-top: 2%;
}

.like-item--exp {
  background: white;
  text-align: left;
  word-break: normal;
  display: none;
  font-size: 1.5vw;
  overflow: hidden;
}

.like-item--exp p{
  padding: 1.3vw;
}


.like__message--bottom {
  margin: 3vw;
  font-weight: 800;
}