.container {
  height: 100vh;
  padding: 5vh 0;
}

h1 {
  font-size: 3.5vw;
}

.container-item {
  margin: 10vh 0;
}

.container__massage {
  overflow: hidden;
  background: rgb(255, 255, 255);
  padding: 2vw 1vw 2vw 0;
  border-radius: 10px;
}

.container__massage h1 {
  margin-bottom: 5vw;
  font-size: 3vw;
}

.container__massage--main {
  display: flex;
  justify-content: space-between;
  height: 30vw;
}

.container__massage--imgbox {
  width: 50%;
  height: 100%;
  position: relative;
  /* background: red; */
  transform: skewX(10deg);
  transform-origin: bottom right;
  overflow:hidden;
  position: relative;
}

.container__massage--imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(../image/cat.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 90% 100%;
  margin-left: 5%;
  transform: skewX(-10deg) scale(1.2); 
}

.container__massage--coments {
  margin: 0 auto;
  width: 50%;
}

.container__massage--coments p {
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5vw;
}


/* 選ばれるポイント */
.container--items > h1{
  margin: 0;
  position: relative;
  z-index: 1;
}
.container--items h1::before {
  position: absolute;
  content: "";
   left: 0;
   right: 0;
   bottom: 0px;
    height: 90%;
  background: rgb(247, 72, 72);
  z-index: -1;
}

.container--items h1 > span {
  font-size: 7vw;
  display: inline-block;
  color: yellow;
  transform: skewX(-10deg);
}

.point {
  display: flex;
  justify-content: space-between;
}

.point--item {
  width: calc(100% / 3);
  margin: 5px;
  background: white;
}


/* 選べる商品 */
.container--product {
 background: red;
}
.container--product > h1 {
  margin: 0;
  position: relative;
  z-index: 1;
}
.container--product > h1::before {
  position: absolute;
  content: "";
   left: 0;
   right: 0;
   bottom: 0px;
    height: 90%;
  background: rgb(143, 202, 65);
  z-index: -1;
}

.container--product h1 > span {
  font-size: 7vw;
  display: inline-block;
  transform: skewX(-10deg);
  color: yellow;
}

.product {
  background: yellow;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
}

.product-item {
  width: 45%;
  padding: 3vw 1vw;
  background: white;
}

.product-item > h1,.product-item > p {
  margin: 0;
}

.product-item > p {
  font-size: 2vw;
  font-weight: 600;
  line-height: 1;
}
.product-item > h1 {
  font-size: 5vw;
  font-family: 'Titan One', cursive;
  font-weight: 400;
  line-height: 1;
}
.product-item > h1:first-letter{
  font-size: 8vw;
}

.plan{
  font-weight: 600;
  font-size: 2vw;
}

.plan > span {
  display: inline-block;
  width: 20%;
  margin: 5px;
}

.product-item > ul {
  text-align: left;
}
  /* 左のボックス */
  #product1 {
    border-right: dashed 3px gray;
  }

  #product1 > h1 {
    color: rgb(8, 136, 241);
    text-shadow: 0.5vw 0.5vw rgba(240, 139, 206, 0.856);
  }

  /* 右のボックス */
  #product2 > h1 {
    color: rgb(255, 196, 0);
    text-shadow: 0.5vw 0.5vw rgba(5, 71, 252, 0.856);
  }
