.container {
  background-color: white;
  height: 100vh;
  padding: 8vh 0;
}

h1{
  margin: 0;
  color: white;
  font-size: 5vh;
  position: relative;
  z-index: 1;
}
h1::before {
  position: absolute;
  content: "";
   left: 0;
   right: 0;
   bottom: 0px;
    height: 90%;
  background: rgb(247, 72, 72);
  z-index: -1;
}

h1 > span {
  font-size: 10vh;
  color: yellow;
}