.container {
  padding: 5vh 0;
}

.container-item {
  margin-bottom: 5%;
}

.container__massage {
  /* overflow: hidden; */
  padding: 3vw 0 1vw 0;
}

.container__massage h1 {
  font-size: 3vw;
  padding: 1vw 0;
  position: relative;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px darkorange;
}
.container__massage h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 80%;
  width: 0;
  z-index: -1;
  border-top: 2vw double orange;
  border-bottom: 6vw solid orange;
  box-shadow: 0px 3px 3px gray;
  -webkit-animation: borderline 1s linear;
  animation: borderline 1s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.container__massage--main {
  display: flex;
  justify-content: space-between;
  height: 50vw;
  position: relative;
}

.container__massage--imgbox {
  width: 100%;
  height: 100%;
  position: relative;
}


.container__massage--imgbox::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 10px;
  bottom: 0;
  width: 90%;
  height: 90%;
  margin: auto 0;
  background-image: url(../image/top-dog.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  filter: brightness(80%);
  /* box-shadow: 0 0 0 2vw rgba(6, 143, 255, 0.7);; */
}

.container__massage--coments {
  position: absolute;
   bottom: -5%;
   right: 2%;
  margin: 0 auto;
  width: 40%;
  z-index: 3;
  padding: 1%;
  color: rgb(255, 255, 255);
  font-weight: 800;
  background: rgba(59, 59, 59, 0.7);
}

.container__massage--coments p {
  text-align: left;
  word-wrap: break-word;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}


@keyframes borderline {
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}


/* 選ばれるポイント */
.container--items > h1{
  margin: 0;
  color: rgb(253, 254, 255);
  position: relative;
  z-index: 1;
}
.container--items h1::before {
  position: absolute;
  content: "";
   left: 0;
   right: 0;
   bottom: 0px;
    height: 90%;
  background: rgb(247, 72, 72);
  border-top: 1vw solid tomato;
  border-bottom: 1vw solid tomato;
  box-shadow: 0px 3px 3px gray;
  z-index: -1;
}

.container--items h1 > span {
  font-size: 7vw;
  display: inline-block;
  color: yellow;
  transform: skewX(-10deg);
}

.point {
  display: flex;
  justify-content: space-between;
}

.point--item {
  width: calc(100% / 3);
  margin: 10px;
  background: white;
  color: rgb(247, 72, 72);
  border-top: 2vw solid rgb(247, 72, 72);
  box-shadow: 0px 5px 5px gray;
}

.point-icon {
  padding: 3vw;
}

.point-icon > svg {
  font-size: 10vw;
}

#point-icon1 svg {
  -webkit-animation: katamuke 2s linear infinite;
  animation: katamuke 2s linear infinite;
}
#point-icon2 svg {
  -webkit-animation: katamuke 2s linear infinite;
  animation: katamuke 2s linear infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#point-icon3 svg {
  -webkit-animation: katamuke 2s linear infinite;
  animation: katamuke 2s linear infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}


@keyframes katamuke {
  0% {
    transform:rotate(0);
  }
  30% {
    transform:rotate(-20deg); 
  }
  40%{
    transform:rotate(20deg); 
  }
  50%{
    transform:rotate(-15deg); 
  }
  60%{
    transform:rotate(15deg); 
  }
  70%{
    transform:rotate(-10deg); 
  }
  80%{
    transform:rotate(10deg); 
  }
  90%{
    transform:rotate(-5deg); 
  }
  100%{
    transform:rotate(0);
  }
}

.point--item p:nth-child(2) {
  font-size: 2vw;
  font-weight: 900;
}
.point--item p:nth-child(3) {
  text-align:left;
  font-size: 1.5vw;
  color: black;
    padding: 1vw 2vw 2.5vw;
}


/* 選べる商品 */
.container--product > h1 {
  margin: 0;
  position: relative;
  z-index: 1;
  color: rgb(253, 254, 255);
}
.container--product > h1::before {
  position: absolute;
  content: "";
   left: 0;
   right: 0;
   bottom: 0px;
    height: 90%;
  background: rgb(127, 204, 26);
  border-top: 1vw solid rgb(93, 187, 93);
  border-bottom: 1vw solid rgb(93, 187, 93);
  box-shadow: 0px 3px 3px gray;
  z-index: -1;
}

.container--product h1 > span {
  font-size: 7vw;
  display: inline-block;
  transform: skewX(-10deg);
  color: yellow;
}

.product {
  display: flex;
  justify-content: center;
}

.product-item {
  width: 50%;
  padding: 4vw 2vw;
  background: white;
  position: relative;
  box-shadow: 0px 5px 5px gray;
}

.product-item > p {
  font-size: 2vw;
  font-weight: 600;
}
.product-item > h1 {
  font-size: 5vw;
  font-family: 'Titan One', cursive;
  font-weight: 400;
}
.product-item > h1:first-letter{
  font-size: 8vw;
}

.plan{
  font-weight: 600;
  font-size: 2vw;
  margin-top: 1.5vw;
  background: rgb(252, 189, 225);
  position: relative;
  color: rgb(70, 68, 68);
  border-bottom: 3px solid lightgray;
}

.plan > span {
  display: inline-block;
  border-radius: 5px;
  width: 20%;
  margin: 5px;
}
.plan > span:nth-child(1) {
  border: 2px solid rgb(0, 217, 255);
}
.plan > span:nth-child(2) {
  border: 2px solid red;
}
.plan > span:nth-child(3) {
  border: 2px solid rgb(251, 255, 0);
}

.product-item > ul {
  text-align: left;
  font-size: 1.5vw;
  height: 35%;
}

.product-item li {
    margin: 3vw 0;
    list-style: none;
}

.product-item li span {
    font-size: 2.5vw;
    font-weight: 600;
  }

  .product-item li p > svg {
    font-size: 2.5vw;
    margin: 0 5%;
  }

  .product-item li:nth-child(2) > p:nth-child(2){
    font-size: 1.5vw;
  }

  .list-btn {
    cursor: pointer;
    color: white;
    padding: 1vw;
    width: 80%;
    font-weight: 700;
    font-size: 1.8vw;
    margin: 6vw auto 0.5vw;
    background: rgb(129, 211, 129);
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgb(70, 94, 24);
  }
  .list-btn:active {
    cursor: pointer;
    margin-top: 6.5vw;
    margin-bottom: 0;
    box-shadow: 0px 3px 0px 0px rgb(70, 94, 24);
  }

  #product1 .list-btn:hover  {
    color: rgb(8, 136, 241);
    
  }

  #product2 .list-btn:hover  {
    color: rgb(255, 136, 0);
  }

  /* 左のボックス */
  #product1 {
    border-right: dashed 3px gray;
    background-color: rgb(228, 245, 253);
  }

  #product1 > h1 {
    color: rgb(8, 136, 241);
  }

  #product1 li span {
    color: rgb(8, 136, 241);
  }

  #product1 .plan:before, #product1 .plan:after,
  #product2 .plan:before, #product2 .plan:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    z-index: 1;
  }
  
  #product1 .plan::before {
    top: 0;
    left: 0;
    border-width: 2vw 0px 2vw 2vw;
    border-color: transparent transparent transparent rgb(228, 245, 253);
    border-style: solid;
  }
  
  #product1 .plan::after {
    top: 0;
    right: 0;
    border-width: 2vw 2vw 2vw 0px;
    border-color: transparent rgb(228, 245, 253) transparent transparent;
    border-style: solid;
  }

  /* 右のボックス */
  #product2 {
    background-color: rgb(252, 239, 216);
  }
  #product2 > h1 {
    color: rgb(255, 136, 0);
  }

  #product2 li span {
    color: rgb(255, 136, 0);
  }

  #product2 .plan::before {
    top: 0;
    left: 0;
    border-width: 2vw 0px 2vw 2vw;
    border-color: transparent transparent transparent rgb(252, 239, 216);
    border-style: solid;
  }
  
  #product2 .plan::after {
    top: 0;
    right: 0;
    border-width: 2vw 2vw 2vw 0px;
    border-color: transparent rgb(252, 239, 216) transparent transparent;
    border-style: solid;
  }
